
.itc-input {
    background-color: #ffffd0 !important;
    color: #48c !important;
    text-align: right;
}

#itc-page-header {
    /* height: 50px; */
    background-color: #cff;
    line-height: 30px;
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 10px;
}

#itc-page-footer {
    height: 50px;
    line-height: 30px;
    padding: 10px 0px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}


a:focus {
    text-decoration: none;
}

a:hover, #tm-page-header a:hover {
    text-decoration: none;
    color: #aaa;
}


#itc-canvas {
    margin-top: 15px;
    /* position: fixed; TODO: this causes the canvas to disappear on mobile */
    border: solid 0px #ccc;
}

#itc-canvas-parent {
    position: relative;
}

.itc-container-no-border {
    padding: 0px;
}

.itc-container {
    border: solid 1px #ddd;
    padding: 6px;
    border-radius: 5px;
    margin: 15px 3px 0px 3px;
}

.itc-container h5 {
    margin-top: 0px;
    background-color: #cff;
    padding: 4px;
}

.itc-tax-summary h5, .itc-about h5 { 
    background-color: #fca;
}

.itc-tax-summary, .itc-about {
    background-color: #eee;
}

.itc-about p {
    font-size: small;
    color: #888;
}

.itc-show-more {
    float: right;
    font-weight: normal;
    padding-right: 5px;
    padding-top: 2px;
}

.itc-help {
    font-size: smaller;
    color: #c84;
    margin-top: 10px;
}

.itc-help em {
    font-weight: bold;
    color: #a86;
}

.itc-help hr {
    margin-top: 5px;
}

.itc-help ul {
    padding-left: 25px;
}

.itc-label {
    width: 100%;
    font-weight: bold;
    font-size: small;
    padding-left: 2px;
}

.itc-label-value {
    display: block;
    font-size: small;
    text-align: right;
    padding: 4px 4px 0px 4px;
    color: #484;
}

.itc-bold {
    font-weight: bold;
}

/**
 * Keep consistent with fillStyleRefund.
 */
.itc-label-value-refund {
    color: #4c4;
}

/**
 * Keep consistent with fillStyleBill.
 */
.itc-label-value-bill {
    color: #c44;
}

.itc-label small {
    color: #888;
    font-weight: normal;
}


.itc-label-right {
    float: right;
    padding-right: 5px;
}

.itc-label-soft {
    font-style: italic;
    color: #888;
    font-size: small;
}

[itc-max-deduction=true] {
    border: solid 2px #F2DEDE;
}

[itc-max-deduction=false] {
    border: none;
}



